<div class="jumbotron">
  <h1> Friend Details</h1>
   <br> 
  <%= render @friend %>
   <%= link_to "Edit this friend", edit_friend_path(@friend) , class: "btn btn-secondary" %>
 <%= link_to "Back to friends", friends_path, class: "btn btn-dark" %>
  </div>

