<h1>About Us</h1>
Friends app was created by Meeran Tajalli using Ruby On Rails for the BackEnd development of the Users and Friends Databases.
<br>
The FrontEnd of the app is designed using Bootstrap/Javascript
For more projects like this, be sure to checkout my github page!

